<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>Controller.LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>Model.display</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBus</servlet-name>
        <servlet-class>Controller.AddBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBus</servlet-name>
        <servlet-class>Controller.DeleteBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoute</servlet-name>
        <servlet-class>Controller.DeleteRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDriver</servlet-name>
        <servlet-class>Controller.DeleteDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSchedule</servlet-name>
        <servlet-class>Controller.AddSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSchedule</servlet-name>
        <servlet-class>Controller.DeleteSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDriver</servlet-name>
        <servlet-class>Controller.AddDriver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoute</servlet-name>
        <servlet-class>Controller.AddRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeed</servlet-name>
        <servlet-class>Controller.AddFeed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBus</servlet-name>
        <url-pattern>/AddBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBus</servlet-name>
        <url-pattern>/DeleteBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoute</servlet-name>
        <url-pattern>/DeleteRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDriver</servlet-name>
        <url-pattern>/DeleteDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSchedule</servlet-name>
        <url-pattern>/AddSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSchedule</servlet-name>
        <url-pattern>/DeleteSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDriver</servlet-name>
        <url-pattern>/AddDriver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoute</servlet-name>
        <url-pattern>/AddRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeed</servlet-name>
        <url-pattern>/AddFeed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>page1.html</welcome-file>
    </welcome-file-list>
</web-app>
